@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    position: relative;
    background: #DE522F;
}

.container{
    width: 350px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.container .product{
    background: #fafafa;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}

.container .product .image{
    width: 300px;
    height: 150px;
    margin: auto;
}

.container .product .image .product-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.8s linear;
}

.container .product .color{
    display: flex;
    align-items:center ;
    justify-content: center;
    margin: 15px;
}

.container .product .color span{
    width: 15px;
    height: 15px;
    margin: 0 15px;
    border-radius: 50%;
    background: #DE522F;
    cursor: pointer;
    position: relative;
}

.container .product .color .green{
    background: #9ABE62;
}

.container .product .color .blue{
    background: #37a7c3;
}

.container .product .color .red{
    background: #B41D26;
}

.container .product .color .orange{
    background: #DE522F;
}

.container .product .color .active::after{
    content: "";
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid #333;
    position: absolute;
    left: -3px;
    top: -3px;
}

.container .product .title{
    font-size: 22px;
    text-align: center;
}

.container .product .detail{
    text-align: center;
}

.container .product .detail p{
    margin: 15px;
    font-size: 25px;
}

.container .product .detail p span{
    color: #DE522F;
}

.container .product .detail a{
    text-decoration: none;
    background: #DE522F;
    padding: 8px 45px;
    border-radius: 8px;
    color: white;
    margin: 15px;
}

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
#menu-h ul {
    list-style: none;
    padding: 0;
    background-color: black;
}


#menu-h ul li{
    display: inline;
}

#menu-h ul li a {
    color:#fff;
    padding: 20px;
    display: inline-block; 
    text-decoration: none;
    transition: background .6s;
}

#menu-h ul li a:hover{
    background-color: aquamarine;
}

#menu-h ul li:last-child a{
    float: right;
    background-color: rgb(0, 17, 255);
}